# Игнорировать всё по умолчанию
*

# Разрешить файлы в корне проекта
!docker-compose.yml
!app-deadline.jar
!schema.sql
!build.gradle

# Разрешить директории, где находятся нужные Java-файлы
!src/
!src/test/
!src/test/java/
!src/test/java/ru/
!src/test/java/ru/netology/
!src/test/java/ru/netology/test/
!src/test/java/ru/netology/page/
!src/test/java/ru/netology/db/
!src/test/java/ru/netology/data/

# Разрешить конкретные Java-файлы
!src/test/java/ru/netology/test/LoginTest.java
!src/test/java/ru/netology/page/VerificationPage.java
!src/test/java/ru/netology/page/LoginPage.java
!src/test/java/ru/netology/page/DashboardPage.java
!src/test/java/ru/netology/db/DatabaseHelper.java
!src/test/java/ru/netology/data/DataHelper.java

# Игнорировать всё остальное в разрешённых директориях
src/**/*
!src/test/java/ru/netology/test/LoginTest.java
!src/test/java/ru/netology/page/VerificationPage.java
!src/test/java/ru/netology/page/LoginPage.java
!src/test/java/ru/netology/page/DashboardPage.java
!src/test/java/ru/netology/db/DatabaseHelper.java
!src/test/java/ru/netology/data/DataHelper.java